 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Homework +
                    </a>
                </li>
                <li>
                    <a href="/HomeworkPlus/createClass">Create Class</a>
                </li>
                <li>
                    <a href="/HomeworkPlus/viewClasses">View Classes</a>
                </li>
                <li>
                    <a href="/HomeworkPlus/createPresetHomework">Create Homework</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
      


